body {
  margin: 0;
  font-family: "Dodo Rounded";
  height: 100%;
}

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: "Dodo Rounded";
  src: url("./assets/fonts/Dodo Rounded.otf") format("opentype");
}