$primal: #FF6900;
$main: #000000;
$main_d: #FFFFFF;
$second: #F5F2F2;
$second_d: #0B0B0B;
$input: #F8F8F8;
$input_border: #DEDEDE;
$input_d: #F8F8F8;
//$background: #ffdf8c;
//$gray-line: #f6f6f6;
//$orange: #fe5f1e;
//
//$container-width: 90%;
//
//$duration: 0.15s;